<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/basketball.png">
</head>
<body>
    <div class="container">
        <% if(loggedIn == false){ %>
            <%- include("./../pages/_notLoggedNav.ejs") %>
            <h1>Login Back</h1>
            <form action="/back/login" method="POST">
                <div class="inputsWrapper">
                    <input type="text" id="username" name="username" class="inputs" onfocusout="checkElement('username', 'usernameLabel')" maxlength="35" required>
                    <label for="username" class="inputLabel" id="usernameLabel">Username</label>
                </div>
                <div class="inputsWrapper">
                    <input type="password" id="password" name="password" class="inputs" onfocusout="checkElement('password', 'passwordLabel')" required>
                    <label for="password" class="inputLabel" id="passwordLabel">Password</label>
                </div>
                <button class="submitButton">Login</button>
            </form>
        <% } if(loggedIn == true){ %>
            <%- include("_backnav.ejs") %>
            <h1>Backend dashboard</h1>
            <h3>Changelogs</h3>
            <div class="changelogs">
                <div class="actionButtonsWrapper">
                    <a href="/back/change/create">Create</a>
                </div>
                <div class="changelogsWrapper">
                    <% changelogs.forEach(change => { %>
                        <a href="/back/change/view/<%= change._id %>">
                            <%= change.version %> | <%= change.name %>
                            <br><%= change.date.toLocaleDateString() %>
                        </a>
                    <% }) %>
                </div>
            </div>
        <% } %> 
    </div>
    <script src="/checkInput.js"></script>
</body>
</html>