<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pages/dashboard">Dashboard</a></li>
        <li><a href="/pages/teams/show">My teams</a></li>
        <li><a href="/pages/leagues/create">Create league</a></li>
        <li><a href="/pages/leagues">View all leagues</a></li>
        <li id="notificationBell">
            <span id="notificationButton">
                <i class="fa-solid fa-bell"></i>
                <% if(hasNotifications == true){ %>
                    <span id="dot"></span>
                <% } %>
            </span>
            <div id="notificationWrapper" class="hidden">
                <div id="notificationHeader">
                    <span>Notifications</span>
                    <form action="/pages/notifications/delete-all" method="POST">
                        <button id="deleteButton"><i class="fa-solid fa-trash"></i></button>
                    </form>
                </div>
                <% if(notifications.length !== 0){ %>
                    <% notifications.forEach(notification => { %>
                        <div class="notification">
                            <% if(notification.type == 1){ %>
                                Friend request from: 
                                <%= notification.data.username %>
                                <form action="/pages/friends/<%= notification.data.id %>/accept?fromNotif=true" method="POST"><button>Accept</button></form>
                                <form action="/pages/friends/<%= notification.data.id %>/reject?fromNotif=true" method="POST"><button>Reject</button></form>
                            <% } %>
                            <% if(notification.type == 2){ %>
                                <%= notification.username %> accepted your friend request.
                            <% } %>
                            <% if(notification.type == 3){ %>
                                <%= notification.from %> sent you an invite to join <%= notification.leagueName %>
                                <form action="/pages/leagues/<%=  %>"></form>
                            <% } %>
                        </div>
                    <% }) %>
                <% } else { %>
                    <span id="noNotif">Seems pretty empty in here...</span>
                <% } %>
            </div>
        </li>
        <li>
            <span id="usernameWrapper"><%= username %></>
            <ul id="profileUl" class="hidden">
                <li><a href="/pages/profile" id="profileLink" style="display: flex;"><img src="/user-solid.svg" width="20px"> <span>Profile</span></a></li>
                <li>
                    <form action="/pages/sign-out" method="POST">
                        <button id="signOutButton" style="display: flex;"><img src="/signOut.svg" width="20px"><span> Sign out</span></button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<script>
    document.addEventListener("click", (e) => {
        if(document.getElementById("notificationWrapper").classList.contains("visible")){
            if(e.target.id != "notificationButton" || e.target.id != "notificationWrapper"){
                
            }
        }
    })
    document.getElementById("usernameWrapper").addEventListener("click", (event) => {
        document.getElementById("profileUl").classList.toggle("visible")
        document.getElementById("profileUl").classList.toggle("hidden")
    })
    document.getElementById("notificationButton").addEventListener("click", (event) => {
        document.getElementById("notificationWrapper").classList.toggle("visible")
        document.getElementById("notificationWrapper").classList.toggle("hidden")
    })
</script>