<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leagues</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-MJ05FTYNYB');
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
    crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2>Leagues</h2>
        <form action="/pages/users/<%= userId %>/leagues/search" method="POST">
            <input type="text" placeholder="Search league" id="league" name="league">
            <button>Search</button>
        </form>
        <% leagues.forEach(league => { %>
            <br><a href="/pages/users/<%= userId %>/leagues/<%= league._id %>">
                <div class="card">
                    <%= league.name %>
                </div>
            </a>
        <% }) %>
    </div>
</body>
</html>