<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create team</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2>Create team</h2>
        <div class="createTeamWrapper">
            <div class="createTeam">
                <% if(team == null){ %>
                    Point guard: <label id="PG"></label>
                    <a class="button PG">Add player</a>
                    <br> Shooting guard: <label id="SG"></label>
                    <a class="button SG">Add player</a>
                    <br> Small forward: <label id="SF"></label>
                    <a class="button SF">Add player</a>
                    <br> Power forward: <label id="PF"></label>
                    <a class="button PF">Add player</a>
                    <br> Center: <label id="C"></label>
                    <a class="button C">Add player</a>
                <% } else { %>
                    <% let player %>
                    Point guard: <label id="PG"></label>
                    <a class="button PG"> <% player = team.players.find(player => player.position == "PG") %> 
                        <% if(player == undefined){ %>
                            Add player
                        <% } else { %>
                            <%= player.full_name %>
                        <% } %>
                    </a>
                    <br> Shooting guard: <label id="SG"></label>
                    <a class="button SG"> <% player = team.players.find(player => player.position == "SG") %> 
                        <% if(player == undefined){ %>
                            Add player
                        <% } else { %>
                            <%= player.full_name %>
                        <% } %>
                    </a>
                    <br> Small forward: <label id="SF"></label>
                    <a class="button SF"> <% player = team.players.find(player => player.position == "SF") %> 
                        <% if(player == undefined){ %>
                            Add player
                        <% } else { %>
                            <%= player.full_name %>
                        <% } %>
                    </a>
                    <br> Power forward: <label id="PF"></label>
                    <a class="button PF"> <% player = team.players.find(player => player.position == "PF") %> 
                        <% if(player == undefined){ %>
                            Add player
                        <% } else { %>
                            <%= player.full_name %>
                        <% } %>
                    </a>
                    <br> Center: <label id="C"></label>
                    <a class="button C"> <% player = team.players.find(player => player.position == "C") %> 
                        <% if(player == undefined){ %>
                            Add player
                        <% } else { %>
                            <%= player.full_name %>
                        <% } %>
                    </a>
                <% } %>
            </div>
        </div>
        <%- include("teamCreator.ejs") %>
    </div>
</body>
</html>