<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2>Dashboard</h2>
        <form action="/pages/users/<%= userId %>/search-user" method="POST">
            <input type="text" id="searchUser" name="searchUser" placeholder="Search User">
            <button>Search</button>
        </form>
        <!-- <form action="/pages/users/<%= // userId %>/players/search" method="POST">
            <input type="text" name="search" id="search" placeholder="Search player">
            <button>Search</button>
        </form> -->
        <h3>Your leagues:</h3>
        <% if(leagues.length !== 0){ %>
            <% leagues.forEach(league => { %>
                <div class="card">
                    <a href="/pages/users/<%= userId %>/leagues/<%= league.id %>"><%= league.name %></a>
                </div>
            <% }) %>
        <% } else{ %>
           <div>
                You are currently not in any leagues.
                <br><a href="/pages/users/<%= userId %>/leagues" style="color: white;">Click here to join one</a>
           </div> 
        <% } %>
    </div>
</body>
</html>