<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NBA Fantasy control panel">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/basketball.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2>Dashboard</h2>
        <form action="/pages/search-user" method="POST">
            <div class="inputsWrapper">
                <input type="text" id="searchUser" name="searchUser" required class="inputs" onfocusout="checkElement('searchUser', 'searchUserLabel')">
                <label for="searchUser" id="searchUserLabel" class="inputLabel">Search user</label>
            </div>
            <button class="submitButton">Search</button>
        </form>
        <!-- <form action="/pages/users/<%= // userId %>/players/search" method="POST">
            <input type="text" name="search" id="search" placeholder="Search player">
            <button>Search</button>
        </form> -->
        <h3>Your leagues:</h3>
        <% if(leagues.length !== 0){ %>
            <% leagues.forEach(league => { %>
                <div>
                    <a href="/pages/leagues/<%= league.id %>" class="leagueCards">
                        <label><%= league.name %></label>
                        <label>Current team score: <%= league.users.filter(user => user.id == userId)[0].teamScore %></label>
                        <label>Current league rank: 1</label>
                    </a>
                </div>
            <% }) %>
        <% } else{ %>
           <div>
                You are currently not in any leagues.
                <br><a href="/pages/leagues" style="color: white;">Click here to join one</a>
           </div> 
        <% } %>
    </div>
    <% if(hasSeenChangelog == false){ %>
        <div class="bigUpdateWrapper">
            <div class="updateWrapper" id="updateWrapper">
                <a id="closeWindow">X</a>
                <h4 style="padding:0 0 10px 0; margin:0;">What's new</h4>
                <% changelog.forEach(change => { %>
                    <div class="changeWrapper">
                        Version <%= change.version %> | <%= change.name %>
                        <br><%= change.date.toLocaleDateString() %>
                        <div class="changeDescription">
                            <%= change.description %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
    <script src="/checkInput.js"></script>
    <script>
        document.addEventListener("click", (e) => {
            if(e.target.id == "closeWindow"){
                fetch(`<%= URL %>/pages/dashboard/hasSeenChange/<%= userId %>`, {
                    method: "POST"
                })
                .then(response => response.json())
                .then(response => {
                    if(response.stats == 501){
                        alert(response.message)
                    }
                })
                document.getElementById("updateWrapper").style.display = "none"
            }
        })
    </script>
</body>
</html>