<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>League settings</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h1>League settings</h1>
        <a href="/pages/users/<%= userId %>/leagues/<%= league._id %>">Back</a>
        <h3>Requests</h3>
        <% if(league.requests.length !== 0){ %>
            <% league.requests.forEach(request => { %>
                from: <%= request.username %> 
                <br>at: <%= new Date(request.date).toLocaleString("en-GB") %>
                <form action="/pages/users/<%= userId %>/leagues/<%= league._id %>/request/<%= request.id %>/accept" method="POST">
                    <button>Accept</button>
                </form>
                <form action="/pages/users/<%= userId %>/leagues/<%= league._id %>/request/<%= request.id %>/reject" method="POST">
                    <button>Reject</button>
                </form>
            <% }) %>
        <% } else { %>
            <h4>No requests to join this league.</h4>
        <% } %>
        <form action="/pages/users/<%= userId %>/leagues/<%= league._id %>/leave" method="POST">
            <button>Leave league</button>
        </form>
    </div>
</body>
</html>