<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= player.first_name %> <%= player.last_name %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <img src="https://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/<%= personId %>.png">
        <h3><%= player.first_name %> <%= player.last_name %> <%= player.position %></h3>
        <h4>player season stats:</h4>
        <div class="statsGrid">
            <div class="gridItem">
                Games Played:
            </div>
            <div class="gridItem">
                <%= stats.games_played %>
            </div>
            <div class="gridItem">
                Minutes:
            </div>
            <div class="gridItem">
                <%= stats.min %>
            </div>
            <div class="gridItem">
                FG%:
            </div>
            <div class="gridItem">
                <%= stats.fg_pct * 100 %>
            </div>
            <div class="gridItem">
                Points:
            </div>
            <div class="gridItem">
                <%= stats.pts %>
            </div>
            <div class="gridItem">
                Rebounds:
            </div>
            <div class="gridItem">
                <%= stats.reb %>
            </div>
            <div class="gridItem">
                Assists:
            </div>
            <div class="gridItem">
                <%= stats.ast %>
            </div>
            <div class="gridItem">
                Steals:
            </div>
            <div class="gridItem">
                <%= stats.stl %>
            </div>
            <div class="gridItem">
                Blocks:
            </div> 
            <div class="gridItem">
                <%= stats.blk %>
            </div>
            <div class="gridItem">
                Turnovers:
            </div>
            <div class="gridItem">
                <%= stats.turnover %>
            </div>
        </div>
        <!-- <form action="/pages/teams/add/players/<%=// player.id %>" method="POST">
            <select name="position" id="position">
                <option value="C">Center</option>
                <option value="PF">Power Forward</option>
                <option value="SF">Small Forward</option>
                <option value="SG">Shooting Guard</option>
                <option value="PG">Point Guard</option>
            </select>
            <button>Add</button>
        </form> -->
    </div>
</body>
</html>