<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
     <!-- Google tag (gtag.js) -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
     
       gtag('config', 'G-MJ05FTYNYB');
     </script>
</head>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2><%= user.username %></h2>
        <h3>Your friends:</h3>
        <% if(user.friends.length !== 0){ %>
            <% user.friends.forEach(friend => { %>
                <div class="card">
                    <div class="profileTextWrapper">
                        <a href="/pages/view-profile/<%= friend.id %>"><%= friend.username %></a>
                        <br> Since: <%= new Date(friend.date).toLocaleString("en-GB") %>
                    </div>
                    <form action="/pages/friends/<%= friend.id %>/remove" method="POST">
                        <button class="delete actionButton">Remove friend</button>
                    </form>
                </div>
            <% }) %>
        <% } else { %> 
            <h4>You don't have any friends yet.</h4>
        <% } %>
        <br><h3>Incoming friend requests</h3>
        <% if(user.friendRequestsReceived.length !== 0){ %>
            <% user.friendRequestsReceived.forEach(request => { %> 
                <div class="card">
                    <div class="profileTextWrapper">
                        From: <a href="/pages/view-profile/<%= request.id %>"><%= request.username %></a>
                        <br> Sent at: <%= new Date(request.date).toLocaleString("en-GB") %>
                    </div>
                    <form action="/pages/friends/<%= request.id %>/accept" method="POST">
                        <button class="accept actionButton">Accept</button>
                    </form>
                    <form action="/pages/friends/<%= request.id %>/reject" method="POST">
                        <button class="delete actionButton">Reject</button>
                    </form>
                </div>
                <% }) %>
        <% } else { %>
            <h4>No incoming friend requests</h4>
        <% } %>
        <br><h3>Outgoing friend requests</h3>
        <% if(user.friendRequestsSent.length !== 0){ %>
            <% user.friendRequestsSent.forEach(request => { %>
                <div class="card">
                    <div class="profileTextWrapper">
                        To: <%= request.username %>
                        <br> Sent at: <%= new Date(request.date).toLocaleString("en-GB") %>
                    </div>
                    <form action="/pages/friends/<%= request.id %>/undo" method="POST">
                        <button class="delete actionButton">Undo</button>
                    </form>
                </div>
            <% }) %>
        <% } else { %>
            <h4>No outgoing friend requests</h4>
        <% } %>
        <br><h3>Incoming league invites</h3>
        <% if(user.leagueInvites.length !== 0){ %>
            <% user.leagueInvites.forEach(invite => { %>
                <div class="card">
                    <div class="profileTextWrapper">
                        <%= invite.leagueName %>
                    </div>
                    <form action="/pages/leagues/<%= invite.leagueId %>/invite/accept/user/<%= invite.from %>" method="POST">
                        <button>Accept</button>
                    </form>
                    <form action="/pages/leagues/<%= invite.leagueId %>/invite/reject" method="POST">
                        <button>Reject</button>
                    </form>
                </div>
            <% }) %>
        <% } else { %>
            <h4>No leauge invites</h4>
        <% } %>
    </div>
</body>
</html>