<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= search %></title>
    <link rel="icon" href="/basketball.png">
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <% if(loggedIn == true){ %>
        <%- include("_navbar.ejs") %>
        <% } else { %>
        <%- include("_notLoggedNav.ejs") %>
        <% } %>
        <h2>Search results</h2>
        <!-- <form action="/pages/search" method="POST">
            <input type="text" name="search" id="search">
            <button>Search</button>
        </form> -->
        <% if(type == "player"){ %>
        <% results.forEach(result => { %>
            <a href="/pages/players/<%= result.id %>">
                <div class="card">
                    <%= result.first_name %> <%= result.last_name %>
                </div>
            </a>
        <% }) %>
        <% } if(type == "user") { %>
            <% users.forEach(user => { %>
                <% if(user._id != currentUser._id.toString()){ %>
                    <div class="card">
                        <a href="/pages/view-profile/<%= user._id %>"><%= user.username %></a>
                        <% if(isInvite == false){ %>
                            <% if(currentUser.friendRequestsSent.filter(request => request.username == user.username).length == 0 && currentUser.friends.filter(friend => friend.id.toString() == user._id.toString()).length == 0){ %>
                                <form action="/pages/friends/<%= user._id %>/add?redirect=search&search=<%= search %>" method="POST">
                                    <button class="submitButton">Add Friend</button>
                                </form>
                            <% } else if(currentUser.friends.filter(friend => friend.username == user.username).length == 0) { %>
                                <form action="/pages/friends/<%= user._id %>/undo?redirect=search&search=<%= search %>" method="POST">
                                    <button class="submitButton">Remove request</button>
                                </form>
                            <% } else {} %>
                        <% } else { %>
                            <% if(user.leagueInvites.filter(invite => invite.leagueId == leagueId).length == 0 && user.leagues.filter(league => league.id == leagueId).length == 0){ %>
                                <form action="/pages/leagues/<%= leagueId %>/user/<%= user._id %>/invite" method="POST">
                                    <button class="submitButton">Invite</button>
                                </form>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            <% }) %>
        <% } %>
        <% if(type == "league") { %>
            <% leagues.forEach(league => { %>
                <div class="card">
                    <a href="/pages/leagues/<%= league._id %>"><%= league.name %></a>
                </div>
            <% }) %>
        <% } %>
    </div>
</body>
</html>