<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= search %></title>
    <link rel="stylesheet" href="/style.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <% if(loggedIn == true){ %>
        <%- include("_navbar.ejs") %>
        <% } else { %>
        <%- include("_notLoggedNav.ejs") %>
        <% } %>
        <!-- <form action="/pages/search" method="POST">
            <input type="text" name="search" id="search">
            <button>Search</button>
        </form> -->
        <% if(type == "player"){ %>
        <% results.forEach(result => { %>
            <a href="/pages/users/<%= userId %>/players/<%= result.id %>">
                <div class="card">
                    <%= result.first_name %> <%= result.last_name %>
                </div>
            </a>
        <% }) %>
        <% } if(type == "user") { %>
            <% users.forEach(user => { %>
                <% if(user._id != userId){ %>
                    <div class="card">
                        <a href="/pages/users/<%= userId %>/view-profile/<%= user._id %>"><%= user.username %></a>
                        <form action="/pages/users/<%= userId %>/friends/<%= user._id %>/add" method="POST">
                            <button>Add Friend</button>
                        </form>
                    </div>
                <% } %>
            <% }) %>
        <% } %>
        <% if(type == "league") { %>
            <% leagues.forEach(league => { %>
                <div class="card">
                    <a href="/pages/users/<%= userId %>/leagues/<%= league._id %>"><%= league.name %></a>
                </div>
            <% }) %>
        <% } %>
    </div>
</body>
</html>