<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View league</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h1><%= league.name %></h1>
        <a href="/pages/users/<%= userId %>/leagues/<%= league._id %>/settings">League settings</a>
        <h3>users:</h3>
        <% league.users.forEach(user => { %>
            <%= user.username %>
        <% }) %>
        <form action="/pages/users/<%= userId %>/leagues/<%= league._id %>/join" method="POST">
            <button>Request to join</button>
        </form>
    </div>
</body>
</html>