<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all teams</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/basketball.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2>My teams</h2>
        <div id="teamsWrapper">
            <% if(teams.length !== 0){ %>
                <% teams.forEach(team => { %>
                    <div class="teamCardWrapper">    
                        <a href="/pages/users/<%= userId %>/leagues/<%= team.leagueId %>/teams/<%= team._id %>/view">
                            <div class="teamCard">
                                <%= team.name %>
                            </div>
                        </a>
                        <form action="/pages/users/<%= userId %>/leagues/<%= team.leagueId %>/teams/<%= team._id %>/delete" method="POST">                        
                            <button class="delete actionButton">Delete</button>
                        </form>
                    </div>
                <% }) %>
            <% } else { %>
                <h4>
                    You don't have any teams yet.
                    <br>Join or create a league to create a team.
                </h4>
            <% } %>
        </div>
    </div>
</body>
</html>