<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all teams</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/basketball.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2>My teams</h2>
        <div class="inputsWrapper">
            <input type="text" id="searchTeams" name="searchTeams" class="inputs" onfocusout="checkElement('searchTeams', 'searchTeamLabel')" onkeyup="myFunction()">
            <label for="searchTeams" id="searchTeamLabel" class="inputLabel">Search team</label>
        </div>
        <div id="teamsWrapper">
            <% if(teams.length !== 0){ %>
                <% teams.forEach(team => { %>
                    <div class="teamCard">
                        <a href="/pages/leagues/<%= team.league.id %>/teams/<%= team._id %>/view">
                            <label><%= team.name %></label>
                            <br>League: <%= team.league.name %>
                        </a>
                        <form action="/pages/leagues/<%= team.league.id %>/teams/<%= team._id %>/delete" method="POST">                        
                            <button class="delete actionButton">Delete</button>
                        </form>
                    </div>
                <% }) %>
            <% } else { %>
                <h4>
                    You don't have any teams yet.
                    <br>Join or create a league to create a team.
                </h4>
            <% } %>
        </div>
    </div>
    <script src="/checkInput.js"></script>
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('searchTeams');
            filter = input.value.toUpperCase();
            ul = document.getElementById("teamsWrapper");
            li = ul.querySelectorAll(".teamCard");
            
            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                label = a.getElementsByTagName("label")[0];
                txtValue = label.textContent || label.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
        </script>
</body>
</html>