<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View league</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/basketball.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h1><%= league.name %></h1>
        <% if(isJoined == true){ %>
            <a href="/pages/leagues/<%= league._id %>/settings">League settings</a>
            <% if(hasTeam == false){ %>
            <br><br><a href="/pages/leagues/<%= league._id %>/teams/create">Create team</a>
            <% } %>
        <% } %>
        <h3>users:</h3>
        <% league.users.forEach(user => { %>
            <div class="card">
                <a href="/pages/view-profile/<%= user.id %>">
                    <%= user.username %>  
                </a>
                <span style="margin-left: 10px;">
                    <%= teams.filter(team => team.userId == user.id)[0].teamScore %>
                </span>
                <% if(user.teamId){ %>
                    <a href="/pages/leagues/<%= league._id %>/teams/<%= user.teamId %>/view-other" style="margin-left: 10px;">View team</a>
                <% } %>
            </div>
        <% }) %>
        <% if(isJoined == false){ %>
            <form action="/pages/leagues/<%= league._id %>/join" method="POST">
                <button>Request to join</button>
            </form>
        <% } %>
    </div>
</body>
</html>