<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team <%= team.league.name %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/basketball.png">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3971663632813827"
     crossorigin="anonymous"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MJ05FTYNYB');
</script>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h2><%= team.name %></h2>
        <form action="/pages/league/<%= leagueId %>/teams/<%= team._id %>/calculateScore" method="POST">
            <button>Recalculate team score</button>
        </form>
        <div class="grid">
            <% let positions = ["PG", "SG", "SF", "PF", "C"] %>
            <% positions.forEach(position => { %>
            <% let player = team.players.find(player => player.position == position) %>
            <div class="gridItem">
                <%= position %>
            </div>
            <% if(player !== undefined){ %>
                <div class="gridItem">
                    <label id="<%= player.position %>">
                    <a href="/pages/players/<%= player.id %>"><%= player.full_name %></a><br>
                    <% if(player.score){ %>
                        <%= player.score.score %>
                    <% } %>
                    </label>
                </div>
            <% } else { %>
                <div class="gridItem" id="<%= position %>"></div>
            <% } %>
            <div class="gridItem">
                <a class="button <%= position %>">Edit player</a>
            </div>
            <% }) %>
            <div class="gridItem">
                Total score:
            </div>
            <div class="gridItem">
                <%= team.teamScore %>
            </div>
        </div>
        <!-- <img src="/halfcourtTopdown.png" alt=""> -->
        <%- include("teamCreator.ejs") %>
    </div>
</body>
</html>