<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/basketball.png">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MJ05FTYNYB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-MJ05FTYNYB');
    </script>
</head>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h1><%= user.username %></h1>
        <% if(currentUser.friendRequestsSent.filter(request => request.username == user.username).length == 0 && currentUser.friends.filter(friend => friend.id == user._id).length == 0){ %>
            <form action="/pages/friends/<%= user._id %>/add" method="POST">
                <button class="submitButton">Add Friend</button>
            </form>
        <% } else if(currentUser.friendRequestsSent.filter(request => request.username == user.username).length != 0){ %>
            <form action="/pages/friends/<%= user._id %>/undo" method="POST">
                <button class="submitButton">Remove request</button>
            </form>
        <% } else if(currentUser.friends.filter(friend => friend.id == user._id).length != 0){ %>
            <form action="/pages/friends/<%= user._id %>/remove" method="POST">
                <button class="submitButton">Remove friend</button>
            </form>
        <% } %>
        <div class="content">
            <% if(teams.length !== 0){ %>
                Best team:
                <a href="/pages/leagues/<%= teams[0].league.id %>/teams/<%= teams[0]._id %>/view-other"><%= teams[0].league.name %> | <%= teams[0].teamScore %></a>
            <% } %>
        </div>
    </div>
</body>
</html>