<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= change.version %> | <%= change.name %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/basketball.png">
</head>
<body>
    <div class="container">
        <%- include("_navbar.ejs") %>
        <h1><%= change.version %> | <%= change.name %></h1>
        <ul>
            <li><a href="/back/change/edit/<%= change._id %>">Edit</a></li>
        </ul>
        <h4><%= change.date.toLocaleDateString() %></h4>
        <h4><%= change.createdBy %></h4>
        <h4><%= change.description %></h4>
    </div>
</body>
</html>